@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');


.App {
  font-family: 'Cabin';
  font-weight: 700;
  font-size: 10px;
}



nav {
  display: flex;
  justify-content: flex-start;
  padding: 30px 50px;
}

nav img {
  width: 150px;
}

.container {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 75vh;

}


/* Font Styles */


h1 {
  font-size: 5em;
}

h3 {
  font-weight: 700;
  font-size: 2em;
}

a {
  font-size: 1.4em;
  font-weight: 700;
}


/* Button Styles */

.black-btn {
  background-color: #29282C;
  padding: 10px 30px;
  color: white;
  margin: 20px 10px;
  border-radius: 9px;
  text-decoration: none;
  border: solid 2px #29282C;
}

.black-btn:hover {
  background-color: transparent;
  color: #29282C;

}

.purple-btn {
  background-color: #5B4FBC;
  padding: 10px 30px;
  color: white;
  margin: 20px 10px;
  border-radius: 9px;
  text-decoration: none;
  border: 2px solid #5B4FBC;

}

.purple-btn:hover {
  background-color: transparent;
  color: #5B4FBC; 

}

button {
  background-color: #29282C;
  padding: 10px 30px;
  color: white;
  margin: 20px 0px;
  border-radius: 9px;
  text-decoration: none;
  border: solid 2px #29282C;
  font-size: 1.4em;
  font-weight: 700;
}

button:hover {
  background-color: transparent;
  color: #29282C;

}



/* HomePage Styles */

.container h1 {
  margin-bottom: 0px;
}

.btn-box {
  margin-top: 40px;
}

/* Auth Form Styles */

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
}

input {

  border: none;
  border-bottom: solid 2px #29282C;
  margin-bottom: 20px;
  width: 20em;
  color: #29282C;
  padding: 10px;


}

.radio-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}

input[type="radio" i] {

  width: 2em;
  margin: auto 0px;
  border: solid 2px #29282C;

}

.radio-box label {
  font-size: 1.4em;
  margin-right: 20px;
}

/* User Homepage Styles */

aside {
  margin: 50px;
  width: 15vw;
  border-right: 2px solid lightgrey;
  height: 70vh;
  z-index: 1;
  position: absolute;
}

.aside-dropdown {
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
  width: 180px;
  overflow-y: scroll;
}

.aside-dropdown a {
  margin-bottom: 10px;
  font-weight: 400;
}

/* .dropdown-option a:focus {
  background-color:rosybrown;
} */

.aside-dropdown::-webkit-scrollbar {
  width: 15px;
  border-radius: 9px;
  background-color: #F7F7F7;
}


.aside-dropdown::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #29282C;
  width: 8px;
  
}
​

.dropdown-option {
  text-decoration: none;
  color: #29282C;
  margin-bottom: 10px;
}

.active {

  background-color: pink;
  
}
