@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');


.App {
  font-family: 'Cabin';
  font-weight: 700;
  font-size: 10px;
}



nav {
  display: flex;
  justify-content: flex-start;
  padding: 30px 50px;
}

nav img {
  width: 150px;
}


/* Font Styles */


h1 {
  font-size: 5em;
}

h3 {
  font-weight: 700;
  font-size: 2em;
}

a {
  font-size: 1.4em;
  font-weight: 700;
}


/* Button Styles */

.black-btn {
  background-color: #29282C;
  padding: 10px 30px;
  color: white;
  margin: 20px 10px;
  border-radius: 9px;
  text-decoration: none;
  border: solid 2px #29282C;
}

.black-btn:hover {
  background-color: transparent;
  color: #29282C;

}

.black-btn-sm {
  background-color: #29282C;
  padding: 10px 12px;
  color: white;
  margin: 10px 10px 10px 0px;
  border-radius: 9px;
  text-decoration: none;
  border: solid 2px #29282C;
  font-size: 1.2em;
}

.black-btn-sm:hover {
  background-color: transparent;
  color: #29282C;

}

.purple-btn {
  background-color: #5B4FBC;
  padding: 10px 30px;
  color: white;
  margin: 20px 10px;
  border-radius: 9px;
  text-decoration: none;
  border: 2px solid #5B4FBC;

}

.purple-btn:hover {
  background-color: transparent;
  color: #5B4FBC; 

}

button {
  background-color: #29282C;
  padding: 10px 30px;
  color: white;
  margin: 20px 0px;
  border-radius: 9px;
  text-decoration: none;
  border: solid 2px #29282C;
  font-size: 1.4em;
  font-weight: 700;
}

button:hover {
  background-color: transparent;
  color: #29282C;

}


/* Auth Form / HomePage Styles */

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
}

input {

  border: none;
  border-bottom: solid 2px #29282C;
  margin-bottom: 20px;
  width: 20em;
  color: #29282C;
  padding: 10px;


}

.radio-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}

input[type="radio" i] {

  width: 2em;
  margin: auto 0px;
  border: solid 2px #29282C;

}

.radio-box label {
  font-size: 1.4em;
  margin-right: 20px;
}

.btn-box {
  margin-top: 40px;
}

.container-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  text-align: center;
}

.container-centered h1 {
  margin-bottom: 0px;
}

/* User Homepage Styles */

aside {
  width: 17rem;
  border-right: 1px solid #d8cccc;
  height: 100vh;
  z-index: 100;
  position: fixed;
  bottom:0;
  left:0;
  background-color: white;
}

aside h3 {
  border-bottom: solid 1px #d8cccc;
  width: 180px;
  padding-bottom: 5px;
}

.aside-dropdown {
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
  width: 180px;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.aside-dropdown a {
  margin-bottom: 10px;
  font-weight: 400;
}

aside img {

width: 150px;
margin-top: 3rem;
margin-left: 3rem;
margin-bottom: 3rem;

}

.list {
  margin-left: 3rem;
}

.main-container {

  margin: 8rem 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.aside-dropdown::-webkit-scrollbar {
  width: 15px;
  border-radius: 9px;
  background-color: #F7F7F7;
}


.aside-dropdown::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #29282C;
  width: 8px;
  
}
​

.dropdown-option {
  text-decoration: none;
  color: #29282C;
  margin-bottom: 10px;
}

.active {

  background-color: pink;
  
}

.btn-box-left {
  display:flex;
  justify-content: flex-start;
}

/* .user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info img {
  width: 30px;
  margin-right: 10px;
}

.user-info h3 {
  font-size: 1.2em;
} */

/* Card Styling */

.card {

height: 17rem;
min-width: 10rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 1rem;
text-align: center;
margin: 1rem 2.5rem 1rem 0.25rem;
background-color: #F7F7F7;

}

.card a {
  font-size: 1.3rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 64vw;
  overflow-x: scroll;
  height: 50vh;
}


.row::-webkit-scrollbar {
  width: 15px;
  border-radius: 9px;
  background-color: #F7F7F7;
}


.row::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #29282C;
  width: 8px;
}
